@import url("https://cdn.rawgit.com/innks/NanumSquareRound/master/nanumsquareround.css");

html {
  height: 100%;
  background-color: #99a5ad;
}

body {
  margin: 0 auto;
  max-width: 600px;
  height: 100%;
  background-color: #e8edf0;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.5);
}

/* common */

.convex {
  position: relative;
  background-color: #f1f5f7;
  box-shadow: 2px 2px 4px rgba(10, 39, 57, 0.1);
}

.convex:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100%;
  height: 100%;
  box-shadow: -2px -2px 4px rgba(255, 255, 255, 1);
}

.main-title {
  padding: 25px 20px 10px;
  font-size: 30px;
  font-weight: 800;
}

/* layout */

.App {
  font-family: "NanumSquareRound", "Helvetica Neue", sans-serif;
  position: relative;
  padding-bottom: 50px;
  font-size: 20px;
  max-width: 600px;
  background-color: #e8edf0;
}

.App .controller {
  position: relative;
  padding: 0 0 115px;
  transition: height 0.4s;
}

.App .controller .sort {
  padding-top: 30px;
}

.App .controller .sort > div {
  overflow-x: auto;
}

.App .controller .sort > div .inner {
  padding: 0 15px;
}

.App .controller .sort .depth02,
.App .controller .sort .depth03 {
  overflow-y: hidden;
  height: 0;
  transition: height 0.2s;
}

.App .controller .sort .depth02.on,
.App .controller .sort .depth03.on {
  height: 90px;
}

.App .controller .sort .inner::after {
  content: '';
  display: block;
  clear: both;
}

.App .controller .sort button {
  position: relative;
  float: left;
  margin: 5px;
  border: none;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0;
  width: 130px;
  height: 80px;
  line-height: 52px;
  font-size: 20px;
  touch-action: none;
  touch-action: pan-x;
  transition: background-color 0.4s;
  outline: none;
}

.App .controller .sort button:disabled {
  color: #ccc;
}

.App .controller .sort button:last-child {
  margin-right: 0;
}

.App .controller .sort button:before {
  border-radius: 10px;

}

.App .controller .search {
  position: absolute;
  bottom: 30px;
  left: 0;
  box-sizing: border-box;
  border-radius: 25px;
  padding: 0 20px;
  width: 100%;
  height: 80px;
  transition: padding 0.2s;
}

.App .controller .search .inner {
  position: relative;
  box-sizing: border-box;
  border-radius: 10px;
  padding-right: 50px;
  width: 100%;
  height: 80px;
}

.App .controller .search .inner:before {
  border-radius: 10px;
}

.App .controller .search input[type="text"] {
  position: relative;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 0 10px 0 20px;
  width: 100%;
  height: 80px;
  font-size: 20px;
  background-color: #f1f5f7;
  transition: border-radius 0.2s;
  outline: none;
}

.App .controller .search.fixed {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 30;
  padding: 0;
  max-width: 600px;
}

.App .controller .search.fixed .inner:before {
  box-shadow: none;
}

.App .controller .search.fixed input[type="text"] {
  border-radius: 0;
}

.App .controller .search button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-left: none;
  border-radius: 0 10px 10px 0;
  width: 80px;
  height: 80px;
  font-size: 30px;
  outline: none;
  transition: border-radius 0.2s;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  color: #fff;
}

.App .controller .search.fixed button {
  border-radius: 0;
}

.App .place-list {
  border-top: 6px solid #d3dce1;
  padding: 0 10px;
}

.App .place-list > div.convex {
  position: relative;
  margin-top: 20px;
  border-radius: 10px;
}

.App .place-list .basic {
  position: relative;
  padding: 30px 100px 30px 10px;
  cursor: pointer;
}

.App .place-list .basic .tag > span {
  margin-right: 4px;
  border-radius: 3px;
  padding: 5px;
  font-size: 13px;
  background-color: #7fcde3;
  color: #fff;
}

.App .place-list .basic .name {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 800;
}

.App .place-list .basic .url {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #999;
  color: #fff;
}

.App .place-list .basic .phone {
  position: absolute;
  top: 10px;
  right: 55px;
  border-radius: 3px;
  width: 40px;
  height: 40px;
  line-height: 45px;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
  background-color: #7fcde3;
  color: #fff;
}

.App .place-list .basic .btn-save {
  position: absolute;
  top: 55px;
  right: 10px;
  border: none;
  border-radius: 3px;
  width: 85px;
  height: 55px;
  font-size: 25px;
  background: #6585f1;
  outline: none;
  color: #fff;
}

.App .place-list .detail {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  height: 0;
  transition: height 0.2s;
}

.App .place-list .detail.step01 {
  height: 100px;
}
.App .place-list .detail.step02 {
  padding: 10px;
  height: auto;
}

.App .place-list .detail .photo {
  overflow-x: auto;
}

.App .place-list .detail .photo .inner {
  overflow: hidden;
}

.App .place-list .detail .photo img {
  display: inline-block;
  vertical-align:top;
  box-sizing: border-box;
  border-radius: 3px;
  margin-left: 5px;
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.App .place-list .detail .photo img:first-child {
  padding-left: 0;
}

.App .place-list .detail .photo img:first-child {
  padding-left: 0;
}

.App .place-list .detail .introduction {
  margin-top: 10px;
}

.App .place-list .detail .adress {
  margin-top: 10px;
}

.App .place-list .detail .time > span {
  margin-right: 10px;
}

.App .place-list .detail .time > span:nth-child(3) {
  color: #999;
}
.App .place-list .detail .time > span:nth-child(3) {
  color: FA8258;
}

.App .place-list .detail .score {
  position: relative;
  margin-top: 20px;
  width: 150px;
}

.App .place-list .detail .score .result {
  font-size: 25px;
  font-weight: 800;
}

.App .place-list .detail .score .people {
  font-size: 13px;
  color: #666;
}

.App .place-list .detail .frame {
  display: inline-block;
  position: relative;
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background-color: #f1f5f7;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2) inset;
}

.App .place-list .detail .frame .gauge {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30px;
  border-radius: 20px;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
}

.App .place-list .detail .menu {
  margin-top: 10px;
}

.App .place-list .detail .menu .title {
  margin: 20px 0 10px;
  font-size: 25px;
  font-weight: 800;
}

.App .place-list .detail .menu .item {
  position: relative;
  margin-top: 5px;
  padding-right: 70px;
  box-sizing: border-box;
}

.App .place-list .detail .menu .item:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  border-top: 1px dashed #ccc;
  width: 100%;
}

.App .place-list .detail .menu .item span {
  overflow: hidden;
  position: relative;
  z-index: 10;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding-right: 5px;
  background-color: #f1f5f7;
}

.App .place-list .detail .menu .item strong {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;
  padding-left: 5px;
  background-color: #f1f5f7;
}

.App .place-list .detail .review {
  margin-top: 20px;
}

.App .place-list .detail .review .title {
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: 800;
}

.App .place-list .detail .review .item {
  border-top: 2px solid #e8edf0;
  padding: 20px 0;
}

.App .place-list .detail .review .info {
  position: relative;
  padding-right: 60px;
  font-weight: 800;
}

.App .place-list .detail .review .info span {
  position: relative;
  margin-right: 15px;
}

.App .place-list .detail .review .info span:before {
  content: '';
  position: absolute;
  top: 5px;
  left: -8px;
  width: 1px;
  height: 14px;
  background-color: #ccc;
}

.App .place-list .detail .review .info span:first-child:before {
  display: none;
}

.App .place-list .detail .review .point {
  font-weight: bold;
}

.App .place-list .detail .review .date {
  color: #999;
}

.App .place-list .detail .review .more {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  border-radius: 12.5px;
  width: 55px;
  height: 25px;
  font-size: 13px;
  font-weight: 800;
  cursor: pointer;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  outline: none;
  color: #fff;
}

.App .place-list .detail .review .text {
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-wrap:break-word;
  height: auto;
  font-size: 18px;
  line-height: 24px;
}

.App .place-list .detail .review .text.on {
  -webkit-line-clamp: inherit;
}

.App .map-wrap {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.App .map-wrap .map {
  box-sizing: border-box;
  width: 100%;
  background-color: #fff;
}

.App .map-wrap .btn-resize {
  position: absolute;
  right: 10px;
  z-index: 10;
  border: 5px solid #f1f5f7;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 0;
  width: 60px;
  height: 80px;
  font-size: 30px;
  text-align: center;
  outline: none;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.App .intro {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 60;
  transform: translateX(-50%);
  width: 600px;
  height: 100%;
  background-color: #fff;
  transition: opacity 0.5s;
}

.App .intro:before {
  content: '';
  position: absolute;
  top: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-bottom: 600px solid transparent;
  border-left: 600px solid #6585f1;
}

.App .intro:after {
  content: '';
  position: absolute;
  bottom: -20%;
  left: 50%;
  transform: translateX(-50%);
  width: 0px;
  height: 0px;
  border-top: 600px solid transparent;
  border-right: 600px solid #7fcde3;
}

.App .intro.step01:before {
  top: -70%;
  transition: top 0.5s;
}

.App .intro.step01:after {
  bottom: -70%;
  transition: bottom 0.5s;
}

.App .intro .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  line-height: 40px;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 5px;
  text-align: center;
}

.App .agree {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 50;
  transform: translateX(-50%);
  width: 600px;
  height: 100%;
  text-align: center;
  background-color: #fff;
  transition: opacity 0.5s;
}

.App .agree .info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.App .agree .info img {
  width: 100px;
}

.App .agree .info .text {
  overflow: hidden;
  margin-top: 20px;
  height: 0;
  line-height: 28px;
  transition: height 0.5s, opacity 0.5s;
}

.App .agree .info button {
  overflow: hidden;
  margin-top: 20px;
  padding: 0;
  border: none;
  border-radius: 10px;;
  width: 100px;
  height: 0;
  font-size: 20px;
  font-weight: 800;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: height 0.5s, opacity 0.5s;
  outline: none;
  color: #fff;
}

.App .manual .info {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 40;
  width: 100%;
  max-width: 600px;
  height: 100%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.6);
}

.App .manual .balloon {
  position: absolute;
  border-radius: 10px;
  padding: 8px 10px;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
  background: #6585f1;
}

.App .manual .balloon:before {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-left: 14px solid #6585f1;
  border-bottom: 10px solid transparent;
}

.App .manual .balloon.type01 {
  top: 50px;
  right: 90px;
}

.App .manual .balloon.type01:before {
  top: 25px;
  right: -10px;
  transform: rotate(0.7.5turn);
}

.App .manual .balloon.type01 .border {
  content: '';
  position: absolute;
  top: 10px;
  right: -80px;
  border: 2px dotted #fff;
  box-sizing: border-box;
  border-radius: 30px;
  width: 60px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 30px;
}

.App .manual .balloon.type02 {
  top: 120px;
  left: 20px;
}

.App .manual .balloon.type02:before {
  bottom: -12px;
  left: 40px;
  transform: rotate(0.25turn);
}
.App .manual .balloon.type02 .border
 {
  content: '';
  position: absolute;
  bottom: -100px;
  left: 0;
  z-index: 10;
  border: 2px dotted #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 0;
  width: 130px;
  height: 80px;
  line-height: 75px;
  font-size: 20px;
  font-weight: 800;
  text-align: center;
}

.App .manual .balloon.type03 {
  top: 265px;
  right: 20px;
}

.App .manual .balloon.type03:before {
  bottom: -12px;
  right: 60px;
  transform: rotate(0.25turn);
}

.App .manual .balloon.type03 .border {
  position: fixed;
  top: 325px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 600px;
  height: 80px;
}

.App .manual .balloon.type03 .border:before {
  content: '직접 입력';
  display: block;
  border: 2px dotted #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding-left: 17px;
  width: 100%; 
  height: 100%;
  line-height: 78px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.App .manual .balloon.type04 {
  top: 450px;
  right: 20px;
}

.App .manual .balloon.type04:before {
  bottom: -12px;
  right: 60px;
  transform: rotate(0.25turn);
}

.App .manual .balloon.type04 .border {
  position: fixed;
  top: 525px;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  box-sizing: border-box;
  padding: 0 20px;
  width: 100%;
  max-width: 600px;
  height: 92px;
}

.App .manual .balloon.type04 .border:before {
  content: '플레이스가 없습니다';
  display: block;
  border: 2px dotted #fff;
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%; 
  height: 100%;
  text-align: center;
  line-height: 84px;
  font-size: 20px;
  font-weight: 800;
  color: #fff;
}

.App .manual .btn-close {
  position: absolute;
  top: 5px;
  right: 5px;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 30px;
  outline: none;
  color: #fff;
  background: none;
}

.App .manual .check-again {
  position: absolute;
  bottom: 20px;
  right: 20px;
  padding-left: 35px;
  font-size: 25px;
  color: #fff;
}

.App .manual .check-again input[type=checkbox] {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 25px;
  height: 25px;
}

.App .place-save {
  position: relative;
  border-top: 10px solid #d3dce1;
  padding: 0 0 20px;
}

.App .absence {
  margin-top: 10px;
  border: 5px dashed #d3dce1;
  border-radius: 10px;
  padding: 30px 0;
  text-align: center;
  font-weight: 800;
  color: #c2cfd7;
}

.App .place-save .inner {
  overflow-x: auto;
  padding: 0 15px;
}

.App .place-save .list:after {
  content: '';
  display: block;
  clear: both;
}

.App .place-save .list > div {
  position: relative;
  float: left;
  margin: 0 5px;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 15px;
  width: 250px;
  height: 250px;
}

.App .place-save .list > div:before {
  border-radius: 5px;
}

.App .place-save .list .date {
  position: absolute;
  bottom: 10px;
  font-size: 11px;
  color: #999;
}

.App .place-save .list .category {
  font-size: 13px;
  color: #999;
}

.App .place-save .list .name {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 800;
}

.App .place-save .list .address {
  margin-top: 10px;
  font-size: 13px;
}

.App .place-save .list .btn-area {
  margin-top: 10px;
}

.App .place-save .list .btn-area a {
  display: inline-block;
  margin-right: 5px;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 30px;
  outline: none;
  color: #fff;
}

.App .place-save .list .btn-area .phone {
  background-color: #6585f1;
}

.App .place-save .list .btn-area .url {
  background-color: #999;
}

.App .place-save .list .btn-area .way {
  background-color: #7fcde3;
}

.App .place-save .list .btn-delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: none;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  font-size: 15px;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  outline: none;
  color: #fff;
}

.App .place-save .btn-all-delete {
  position: absolute;
  top: 25px;
  right: 20px;
  border: none;
  border-radius: 17.5px;
  width: 80px;
  height: 35px;
  font-size: 20px;
  background: linear-gradient( 45deg, #7fcde3, #6585f1 );
  outline: none;
  color: #fff;
}

.App .place-save .btn-all-delete:before {
  border-radius: 14px;
}

/* loding */

.loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f1f5f7;
}

.loading.on {
  display: block;
}

.loading .inner {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%) scale(0.5);
  width: 120px;
}

.loading .inner div { 
  position: absolute; 
  border-radius: 15px;
  width: 30px 
}

.loading .inner div:nth-child(1) {
  left: 0;
  background: #6585f1;
  animation: loading-inner-1 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.2s
}

.loading .inner div:nth-child(2) {
  left: 45px;
  background: #999;
  animation: loading-inner-2 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: -0.1s
}

.loading .inner div:nth-child(3) {
  left: 90px;
  background: #7fcde3;
  animation: loading-inner-3 1s cubic-bezier(0,0.5,0.5,1) infinite;
  animation-delay: undefineds
}

@keyframes loading-inner-1 {
  0% { top: 36px; height: 128px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes loading-inner-2 {
  0% { top: 41.99999999999999px; height: 116.00000000000001px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
@keyframes loading-inner-3 {
  0% { top: 48px; height: 104px }
  50% { top: 60px; height: 80px }
  100% { top: 60px; height: 80px }
}
