.App .controller {
    padding: 10px;
}

.App .controller .sort > button {
    margin: 1.25% 0 0 1.25%;
    border: 1px solid #dcdcdc;
    border-radius: 3px;
    width: 24%;
    height: 35px;
    font-size: 15px;
    background-color: #f7f7f7;
}

.App .controller .sort > button:nth-child(4n + 1) {
    margin-left: 0;
}

.App .controller .serach > button {
    margin: 1.25% 0 0 1.25%;
    border: none;
    border-radius: 3px;
    width: 24%;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    background-color: #86D6D0;
    color: #fff;
}

.App .list {
    margin-top: 20px;
}

.App .list > div {
    position: relative;
    border-top: 1px dashed #e0e0e0;
    padding: 10px;
    cursor: pointer;
}

.App .list > div:hover {
    background-color: #f7f7f7;
}

.App .list .tag > span {
    margin-right: 5px;
    border-radius: 3px;
    padding: 3px 5px;
    font-size: 11px;
    background-color: #E3E8ED;
    color: #999;
}

.App .list .name {
    margin-top: 8px;
    font-size: 18px;
    font-weight: bold;
}

.App .list .address {
    font-size: 12px;
    color: #999;
}

.App .list .phone {
    font-size: 12px;
    text-decoration: none;
    color: #999;
}

.App .list .url {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 3px 5px;
    width: 50px;
    text-align: center;
    font-size: 12px;
    text-decoration: none;
    border-radius: 3px;
    background-color: #86D6D0;
    color: #fff;
}

#map {
    height: 300px
}
